
body{
  background-image:url("https://dl.dropboxusercontent.com/s/6lippj1mmyp56qk/bgWiki.png?dl=0");
  background-repeat:no-repeat; 
  background-attachment: fixed;
  background-position: center;
  color: #ffffff;
}

.search{
 padding: 220px;
}

a {
 color: #ffffff;
}

.btn{
  position: fixed; 
  top:37.5%;
	left:62.5%;
  margin-left:-15px;
  background-color: #3d3d3d;
  border-radius: 5px;
  border: solid 1px #d3d3d3; 
 }

.btn:hover{
  background-color:#d3d3d3;
  color: #3d3d3d;
  }

.btn:active{
  background-color:#d3d3d3;
  color: #3d3d3d;
  }

#searchBtn{
  margin-left:-80px;
  }

.searchBox{
  position: fixed;
  top:37.5%;
  height: 32px;
  width: 240px;
  border-radius: 5px;
  color: #d3d3d3;
  background-color: #3d3d3d;
 }

.form-control:focus {
 border-color: #d3d3d3;
 outline: none;
 }

#result{
 width: 70%;
 margin: 4px auto;
 }

ul{
 list-style-type: none;

}
ul li{
 margin: 5px;
 padding: 5px;
 background: #3d3d3d ;
 color: #d3d3d3;
 border: solid 2px #d3d3d3;
 border-radius: 5px;
 opacity: 0.8;
 }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3d3d3d;
  color: #d3d3d3;
  text-align: center;
  opacity: 0.8;
}

::-webkit-input-placeholder { /* Chrome */
  color: #d3d3d3 !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #d3d3d3 !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #d3d3d3 !important;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #d3d3d3 !important;
  opacity: 1;
}

